html {
  font-size:1rem;
}
@media(min-width:800px){
  html {
    font-size:1.25rem;
  }
}
h2 {
  font-weight:normal;
  border-bottom: solid 1px #666;
  padding-bottom:1rem;
  margin-bottom:2rem;
}
body {
  background-color:#000;
  color:#fff;
  font-family:monospace;
  max-width:800px;
  margin:auto;
  padding:1rem;
}
img, video {
  max-width:100%;
  margin-bottom:1rem;
}
a {
  color:#fff;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
ul{
  padding:0;
}
li {
  margin-bottom:1rem;
  list-style:none;
}
