/* stylesheet */
@font-face {
  font-family: 'sligoil';
  src: url("TokenMono8-Regular.otf");
}

@font-face {
  font-family: 'jgs5';
  src: url("jgs5.ttf");
}

@font-face {
  font-family: 'jgs9';
  src: url("jgs9.ttf");
}

@font-face {
  font-family: 'jgs7';
  src: url("jgs7.ttf");
}

a {
  text-decoration: none;
  cursor: pointer;
  vertical-align: top;
}

.day a {
  color: #00F;
}

.night a {
  color: #0FF;
}

a:hover {
  background-color: #f0f;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "sligoil" !important;*/
  /* font-size: 1rem !important;*/
  /* line-height: initial !important;*/
}

header {
  color: #fff !important;
  font-family: sans-serif;
  padding: 0rem 1rem 1rem 1rem;
}

.day header {
  background-color: #08F;
}

.night header {
  background-color: #088;
}

header p {
  color: #000;
}

header article {
  display: inline-block;
  vertical-align: top;
  margin-right: 6vw;
}

pre {
  padding-top: 0;
  margin-top: 0;
}

.jgs5 pre {
  font-family: 'jgs5';
  font-size: 10px;
  line-height: 10px;
  padding-left: 5px;
}

.jgs7 pre {
  font-family: 'jgs7';
  font-size: 14px;
  line-height: 14px;
  padding-left: 7px;
}

.jgs9 pre {
  font-family: 'jgs9';
  font-size: 18px;
  line-height: 18px;
  padding-left: 9px;
}

body.x2 pre {
  transform-origin: top left;
  transform: scale(2);
  width: 49vw!important;
}

body.x3 pre {
  transform-origin: top left;
  transform: scale(3);
  width: 33vw!important;
}

.day, .day #font_tools {
  color: black;
  background-color: white;
}

.night, .night #font_tools {
  color: white;
  background-color: black;
}

/* Pixel art */

* {
  image-rendering : pixelated;
}

/* marquee */

