* {
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  overflow: hidden;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
canvas {
  cursor: none;
}
pre {
  color:white;
}
