@font-face{
  font-family:"jgs";
  src:url("../fonts/Jgs-SingleLine-regular.ttf");
}
pre {
  font-size:1rem;
  line-height:1rem;
}
main h1, main h2, main h2, pre, iframe,p,blockquote{
  max-width:640px;
}
@media (min-width:840px){
  html{
    font-size:21px;
  }
  main h1, main h2, main h2, pre, iframe,p,blockquote{
    max-width:840px;
  }
}
@media (min-width:calc(840px + 320px)){
  aside {
    position: sticky;
    top:0;
    height:calc(100vh - 2rem);
    overflow-y:auto;
    border-bottom:0;
  }
  body {
    display:flex;
  }
}
a {
  text-decoration:none;
  color:#00F;
}
a:hover{
  color:#F00;
}
body{
  margin:0;
  font-family:"jgs";
}
h1,h2{
  font-weight:normal;
}
aside h2 {
  margin-top:1rem;
}
main h1,h2 {
  margin:0;
  padding:0;
}
main * {
  font-size:1rem;
  line-height:1rem;
}
aside {
  min-width:320px;
  padding:1rem;
}
main{
  flex:1;
  padding-left:1rem;
  padding-right: 1rem;
}
code {
  font-family:"jgs";
}
code, iframe{
  background-color:#E8E8E8;
}
pre, iframe,p{
  width:100%;
  display:block;
}
aside h1{
  font-size:1rem;
  margin:0;
}
iframe{
  border:none;
}
iframe {
  height:450px;
}
pre {
  font-family:"jgs";
}
p {
  line-height:1.125rem;
}
aside h2{
  font-size: 1rem;
  font-weight:normal;
  padding-top:0;
  margin-bottom:0rem;
}
aside h2:before{
  content:'- ';
}
li {
  list-style:'+ ';
  margin-left:2rem;
}
ul {
  margin:0;
  padding:0;
  margin-bottom:0rem;
}
sup, blockquote {
  color:green;
}
