<div 
  id="level12"
  data-bright="#FFCFBF"
  data-special="#70B010"
  data-bitter="#FF4F1F"
  data-soft="#5090D0"
  data-dark="#908070"
  data-bg="#101808"
>
<pre class="wall">
                                           ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@\  ▕@@@@@@@@▏  ▕@@@@@@@@\   
____________________________________       ▕@@@@@@@@⎿__⏌@@@@@@@@⎿___‗⊐@@@@@@▏      ▕@@@@@@@@@\__‗⊐@@@@@@▏  ▕@@@@@@@@@\__
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏      ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏      ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏      ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏       \@@@@@@@@@@@@@@@@@@@▏   \@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏      ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗         \@@@@@@@@@@@@@@@@⊏‗     \@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏      ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏         \@@@@@@@@@@@@@@@@@▏     \@@@@@@@@@
▔▔▔▔\@@@@@@@/▔▔\@@@@@@/▔▔▔▔▔▔▔▔▔▔▔▔▔        ▔▔▔▔▔▔▔▔▔▔▔⏋@@@⊏⊐@@@@@/▔▔\@@@@@@▏          ▔▔▔▔▔▔▔▔\@@@@@@@@▏      ▔▔▔▔▔▔▔▔▔
____/@@@@@@@\__/@@@@@@\_____________________________   ▕@@@@@@@@@@\__/@@@@@@⎿__________________⏌@@@@@@@@⎿_______________
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔\@@@@@@▏  ▕@@@@@@@@/▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
    ___________⏌@@@@@@@@⎿____________________/@@@@@@▏  ▕@@@@@@@@▏   ________________________    ____________________    
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@▏   
    ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔‗⊐@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@⊏‗▔▔▔▔▔▔▔⏋@@@@@@@@▏  ▕@@@@@@⊏‗▔▔▔⏋@@@@@@@@▏   
                                           ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
</pre>
<pre class="entities">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@L1300@@@@@@@@VVVVVVVVVVVV@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@VVVVVV@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@VVVVVVVV@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@VVVVVVVV@@E@@@@@@@@@@@@@@@@@VVVVVVVV@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@A@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@L1100@@@VVVVVVVV@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@E@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</pre>
</div>
