<div 
  id="level0"
  data-bright="#FFFFFF"
  data-special="#20FF20"
  data-bitter="#FF2020"
  data-soft="#2020FF"
  data-dark="#505050"
  data-bg="#101010"
>
<pre class="wall">
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
    ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔    &
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
<pre class="entities">
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   &
   ▕@@@A@@@@@@@@@@@@@@@@@@@@@@@L0100   &
    ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔    &
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
<pre class="danger">@</pre>
<pre class="decor">
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
</pre>
<pre class="softWallA">@</pre>
<pre class="softWallB">@</pre>
<pre class="softWallC">@</pre>
<!-- movingPlatform need to be same size as scene -->
<pre class="movingPlatform">
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
</div>
