<div 
  id="level7"
  data-bright="#DFBFDF"
  data-special="#30FF20"
  data-bitter="#FF2020"
  data-soft="#F08040"
  data-dark="#807070"
  data-bg="#101020"
>
<pre class="wall">
   ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@▏  ▕@@@@@@@@⎿__⏌@@@@@@@@▏   
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@/    
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@/     
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@/      
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@/       
   ▕@@@@@@@@▏  ▕@@@@@@@⊏▔▔▔▔▔▔▔▔        
___⏌@@@@@@@@▏  ▕@@@@@@@@▏       ________
@@@@@@@@@@@/   ▕@@@@@@@@▏      /@@@@@@@&
@@@@@@@@@@/    ▕@@@@@@@@▏     /@@@@@@@@&
@@@@@@@@@/     ▕@@@@@@@@▏    /@@@@@@@@@&
@@@@@@@@/      ▕@@@@@@@@▏   /@@@@@@@@@@&
▔▔▔▔▔▔▔▔       ▕@@@@@@@@▏  ▕@@@@@@@@⎾▔▔▔
    ___________⏌@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏   
    ▔▔▔▔▔▔▔▔▔▔▔▔⊐@@@@@@@▏   ▔▔▔▔▔▔▔▔    
               ▕&&&&&&&&▏               
________       ▕@@@@@@@@⎿_______________
@@@@@@@@\      ▕@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@\     ▕@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@\    ▕@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@\   ▕@@@@@@@@@@@@@@@@@@@@@@@&
▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@⊏▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
___⏌@@@@@@@@▏  ▕@@@@@@@@▏       ________
@@@@@@@@@@@/   ▕@@@@@@@@▏      /@@@@@@@@
@@@@@@@@@@/    ▕@@@@@@@@▏     /@@@@@@@@@
@@@@@@@@@/     ▕@@@@@@@@▏    /@@@@@@@@@@
@@@@@@@@/      ▕@@@@@@@@▏   /@@@@@@@@@@@
▔▔▔▔▔▔▔▔       ▕@@@@@@@@▏  ▕@@@@@@@@⎾▔▔▔
________       ▕@@@@@@@@▏  ▕@@@@@@@@⎿___
@@@@@@@@\      ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@\     ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@\    ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@\   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@⊏‗▔▔▔▔
   ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕&&&&&&&&▏  ▕&&&&&&&&▏  ▕&&&&&&&&▏   
</pre>
<pre class="entity">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@A@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@L0600@@@@@@@@@@@@@@@@@@L0800@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B1
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@B2@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</pre>
</div>
