<div 
  id="level13"
  data-bright="#FFCFBF"
  data-special="#70B010"
  data-bitter="#FF4F1F"
  data-soft="#5090D0"
  data-dark="#908070"
  data-bg="#101808"
>
<pre class="wall">
               ▕@@@@@@@@▏              &                           ▕@@@@@@@@▏  &
____________   ▕@@@@@@⊏‗________________________________________   ▕@@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏   ▔⏋@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏    ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔      ▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔▔\@/▔▔\@@/▔▔\@/▔▔\@@@@@@▏  ▕@@@@@@@⊏▔▔▔▔
    ____________________   ▕@@@@@@@@⎿____/@\__/@@\__/@\__/@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗   ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  &
    ▔\@@@@@⊏▔▔▔▔▔▔▔▔▔▔▔▔   ▕@@@@@@@@⎾▔▔▔▔▔▔\@/▔▔\@@/▔▔▔▔‗⊐@@@@@@▏  ▕@@@@@@@@▏  &
    _/@@@@@@▏   ___________⏌@@@@@@@@⎿______/@\__/@@\   ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@/   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@⊏‗   ▕@@@@@@@@▏  &
   ▕@@@@@@@\   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@▏  /@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
    ‗⊐@@@@@@▏ /@@/⏋@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏  &‗⊐@@@@@@▏  ▕@@@@@@@@▏  &
&&&▕@@@@@@@@⎿/@@/ ▕@@@@@▏&&&&&&&&&&&&&&&&&&▕@@@@@@@@▏&&▕@@@@@@@@▏&&▕@@@@@@@@▏&&&
   ▕@@@@@@@@@@@/  ▕@@@@@▏              &   ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@⊏‗‗‗‗___/@@@@⊏    _______________⏌@@@@@@@@⎿__⏌@@@@@@⊏‗___⏌@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  &
    ▔⏋@@@@@@@@@@@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗‗⊐@@@@@@@@@@@@@@▏  &
     ▕@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  &
      ▔▔▔▔▔▔▔▔▔▔‗⊐@@@@@@▏  ▕@@@@@@⊏‗▔▔▔▔▔▔▔⏋@@@@@@@@@@@@@@@@@@@@⎾▔▔⏋@@@@@@@@▏  &
____________   ▕@@@@@@@@▏  ▕@@@@@@@@⎿______⏌@@@@@@/▔\@@@@@@@@@@@▏  ▕@@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@\_/@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@⊏‗    ‗⊐@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔⏋@@@@@@@@▏   ‗⊐@@@@@@▏  ▕@@@@@@@/▔▔▔▔▔▔▔⏋@@@@@@@@@@@@@@@@@@@@▏   ▔⏋@@@/▔▔▔▔▔▔
___⏌@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@\________‗⊐@@@@@@@@@@@@@@@@@@⎿____⏌@@@\______
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@/▔▔⏋@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@/   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@/    ▕@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔    ‗⊐@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔      ▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔
&&&&&&&&&&&&&&&▕@@@@@@@@▏&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&▕@@@@@@@@▏  &
</pre>
<pre class="entities">
               ▕@@@@@@@@▏              &                           ▕@@@@@@@@▏  &
____________   ▕@@@@@@⊏‗________________________________________   ▕@@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@A@@@@▏   ▔⏋@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@L1200▏    ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔      ▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔▔▔▔\@/\@/\@/▔▔▔▔‗⊐@@@@@@▏  ▕@@@@@@@⊏▔▔▔▔
    ____________________   ▕@@@@@@@@⎿______/@\/@\/@\___⏌@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗   ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@L9900▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@E@@@@@@@@@@▏  ▕@@@@@@@@▏  &
    ‗⊐@@@@@⊏▔▔▔▔▔▔▔▔▔▔▔▔   ▕@@@@@@@@⎾▔▔▔▔▔▔\@/\@/\@/▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@▏   ___________⏌@@@@@@@@⎿______/@\/@\/@\    ‗⊐@@@@⊏‗   ▕@@@@@@@@▏  &
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   ‗⊐@@@@⊏‗   ▕@@@@@@@@▏  &
   ▕@@@@@@@@▏  ▕@@@@@@@@@E@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
    ‗⊐@@@@@@▏   ‗⊐@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
&&&▕@@@@@@@@▏&&▕@@@@@@@@▏&&&&&&&&&&&&&&&&&&▕@@@@@@@@▏&&&‗⊐@@@@⊏‗&&&▕@@@@@@@@▏&&&
   ▕@@@@@@@@▏  ▕@@@@@@@@▏              &   ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏  &
   ▕@@@@@@⊏‗___⏌@@@@@@⊏‗    _______________⏌@@@@@@@@⎿__⏌@@@@@@@@⎿__⏌@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ⏋@@@@@@@@@@@@@@@▏  &
    ▔⏋@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ ⏌@@@@@@@@@@@@@@@▏  &
     ▕@@@@@@@@⎾▔‗⊐@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  &
      ▔▔▔▔▔▔▔▔ ▕@@@@@@@@▏  ▕@@@@@@⊏‗▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔⏋@@@@@@@@⎾▔▔⏋@@@@@@@@▏  &
____________   ▕@@@@@@@@▏  ▕@@@@@@@@⎿______⏌@@@@@@@@⎿__⏌@@@@@@@@▏  ▕@@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏   ‗⊐@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@▏   ‗⊐@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@⎾▔▔▔▔▔▔⏋@@@@@@@@@@@@@@@@@@@@▏   ▔⏋@@@@⎾▔▔▔▔▔
___⏌@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@⎿_______‗⊐@@@@@@@@@@@@@@@@@@⎿____⏌@@@@⎿_____
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@/▔▔⏋@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@/   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@/    ▕@@@@@@@@E@@@@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔    ‗⊐@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔      ▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔
&&&&&&&&&&&&&&&▕@@@@@@@@▏&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&▕@@@@@@@@▏  &
</pre>
<pre class="danger">
               ▕@@@@@@@@▏              &                           ▕▶@@@@@@◀▏  &
____________   ▕@@@@@@⊏‗________________________________________   ▕▶@@@@@@◀⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@▼@@@@@▼@@@@▼@@@@@@@@▏  ▕▶@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@
@@@@@@@@@@@@▏   ▔⏋@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@
@@@@@@@@@@@@▏    ▕▲▲▲▲@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔      ▔▔▔▔▔▔▔▔▔⏋▶@@@@@@@⎾▔▔▔▔\@/▔▔\@@/▔▔\@/▔▔\@@@@@@▏  ▕▶@@@@@@⊏▔▔▔▔
    ____________________   ▕▶@@@@@@@⎿____/@\__/@@\__/@\__/@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@@▼@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗   ▕▶@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@@▲@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@◀▏  &
    ▔\@@@@@⊏▔▔▔▔▔▔▔▔▔▔▔▔   ▕▶@@@@@@@⎾▔▔▔▔▔▔\@/▔▔\@@/▔▔▔▔‗⊐@@@@@@▏  ▕▶@@@@@@◀▏  &
    _/@@@@@@▏   ___________⏌▶@@@@@@@⎿______/@\__/@@\   ▕@@@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@⊏‗   ▕▶@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@@@@@▲▲▲▲▲▲▲▲@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@◀▏  &
    ‗⊐@@@@@@@@@@@@@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏  &‗⊐@@@@@@▏  ▕▶@@@@@@◀▏  &
&&&▕@@@@@@@@@@@@@@@@@@@@▏&&&&&&&&&&&&&&&&&&▕@@@@@@@@▏&&▕@@@@@@@@▏&&▕▶@@@@@@◀▏&&&
   ▕@@@@@@@@@@@@@⊐@@@@@@▏              &   ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@◀▏  &
   ▕@@@@@@⊏@@@@@@@@@@@@@▏   _______________⏌@@@@@@@@⎿__⏌@@@@@@⊏‗___⏌▶@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@@  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@◀▏  &
   ▕@@@@@@@@@@@@@@@@@@@@@  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@◀▏  &
    ▔⏋@@@@@@@@@@@@@@@@@@@  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@◀▏  &
     ▕▲▲▲▲@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▲▲▲▲@@@@@@@◀▏  &
      ▔▔▔▔▔▔▔▔▔▔‗⊐@@@@@◀▏  ▕@@@@@@⊏‗▔▔▔▔▔▔▔⏋@@@@@@@@@@@@@@@@@@@@⎾▔▔⏋▶@@@@@@◀▏  &
____________   ▕@@@@@@@@▏  ▕@@@@@@@@⎿______⏌@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@◀⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕▶@@@@@⊏‗    ‗⊐@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▶@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕▲▲@@@@@@@@@@
▔▔▔⏋@@@@@@@@▏   ‗⊐@@@@@◀▏  ▕▶@@@@@@@⎾▔▔▔▔▔▔⏋@@@@@@@@@@@@@@@@@@@@▏   ▔⎿▶@@/▔▔▔▔▔▔
___⏌@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@@⎿_______‗⊐@@@@@@@@@@@@@@@@@@⎿____⏌▶@@\______
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕▶@@@@@⊏‗   ▕▶@@@@@@@@@@@@@@@@@@@@@@@/▔▔⏋@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕▶@@@@@@@@@@@@@@@@@@@@@@/   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@▲▲▲▲▲▲▲▏  ▕@@@@@@@@▏  ▕▲▲▲▲▲▲▲▲@@@@@@@@@@▲▲▲▲/    ▕▲▲▲▲@@@@@@@@@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔    ‗⊐@@@@@◀▏   ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔      ▔▔▔▔▔▔▔▔▔▔▔⏋▶@@@@@@◀⎾▔▔▔
&&&&&&&&&&&&&&&▕@@@@@@@@▏&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&▕▶@@@@@@◀▏  &
</pre>
<pre class="decor">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
<pre class="softWallA">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
<pre class="entities">
</pre>
<pre class="softWallB">@</pre>
<pre class="softWallC">@</pre>
<!-- movingPlatform need to be same size as scene -->
<pre class="movingPlatform">
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
</div>
