<div 
  id="level11"
  data-bright="#FFCFBF"
  data-special="#70B010"
  data-bitter="#FF4F1F"
  data-soft="#5090D0"
  data-dark="#908070"
  data-bg="#101808"
>
<pre class="wall">
               ▕@@@@@@@@▏               
    ____________‗⊐@@@@@@▏               
   ▕@@@@@@@@@@@@@@@@@@@@▏               
   ▕@@@@@@@@@@@@@@@@@@@@▏               
   ▕@@@@@@@@@@@@@@@@@@⎾▔                
   ▕@@@@@@@@@@@@@@@@@@▏                 
    ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔                  
________________________    ____________
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔\@@@@@@@⎾▔▔⏋@@@@@@⊏‗    ▔▔▔▔▔▔▔▔▔▔▔▔
____/@@@@@@@▏  ▕@@@@@@@@⎿_______________
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏   ‗⊐@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔⏋@@@@@@⊏‗   ▕@@@@@@@/▔▔▔▔\@@@@@@@⎾▔▔▔
   ▕@@@@@@@@▏  ▕@@@@@@@▏    ▕@@@@@@@▏   
   ▕@@@@@@@@▏  ▕@@@@@@@▏    ▕@@@@@@@▏   
____‗⊐@@@@@@▏  ▕@@@@@@@\____/@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔\@@@@@@@▏   ‗⊐@@@@@@⎾▔▔⏋@@@@@@@/▔▔▔▔
____/@@@@@@@⎿__⏌@@@@@@@@▏  ▕@@@@@@@\____
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@⊏‗   ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔▔\@@@@@@/▔▔▔‗⊐@@@@@@▏  ▕@@@@@@⊏‗▔▔▔▔
_____/@@@@@@\__⏌@@@@@@@@▏  ▕@@@@@@@@⎿___
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏   ▔⏋@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏    ▕@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏    ▕@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@⊏‗      ▔▔▔▔▔▔▔▔▔▔
               ▕@@@@@@@@▏               
</pre>
<pre class="entity">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@A@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@L1000@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@L1200@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@E@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</pre>
</div>
