<div 
  id="level9"
  data-bright="#FFCFBF"
  data-special="#30FF20"
  data-bitter="#FF2020"
  data-soft="#5090D0"
  data-dark="#807070"
  data-bg="#101808"
>
<pre class="wall">
               ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏              ▕@@@@@@@@▏   
________        ‗⊐@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏       _______⏌@@@@@@@@⎿___
@@@@@@@@\      ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏      /@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@\     ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏     /@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@\    ▕@@@@@@⊏‗   ▕@@@@@@@@▏      ▕@@@@@@@@▏    /@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@\   ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏   /@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@@▏   ▔▔▔▔▔▔▔▔       ▕@@@@@@@@▏  ▕@@@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
___⏌@@@@@@@@▏   ‗⊐@@@@@@▏       ___________⏌@@@@@@@@▏  ▕@@@@@@@@▏       ________
@@@@@@@@@@@/   ▕@@@@@@@@▏      /@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏      /@@@@@@@@
@@@@@@@@@@/    ▕@@@@@@@@▏     /@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏     /@@@@@@@@@
@@@@@@@@@/     ▕@@@@@@⊏‗     /@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏    /@@@@@@@@@@
@@@@@@@@/      ▕@@@@@@@@▏   /@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏   /@@@@@@@@@@@
▔▔▔▔▔▔▔▔       ▕@@@@@@@@▏  ▕@@@@@@⊏‗▔▔▔▔▔▔▔▔⊐@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@⎾▔▔▔
    ____________‗⊐@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@@/   ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@@/     ‗⊐@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@@/     ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@/      ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
    ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔       ▕@@@@@@⊏‗       ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
                           ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
                           ▕@@@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@▏   
____________________________‗⊐@@@@@@▏      ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@⎿___
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/       ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/         \@@@@@@@\  /@@@@@@@@\   \@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/           \@@@@@@@\/@@@@@@@@@@\   \@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@/             \@@@@@@@@@@@@@@@@@@@\   \@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⊐@@@@⊏‗▔▔▔▔▔▔▔▔               \@@@@@@@@@@@@@@@@@@@\   ▔▔▔▔▔▔▔▔▔
________        /@@@@@@@⎿_______                \@@@@@@@@@@@@@@@@@@@\___________
@@@@@@@@\       \@@@@@@@@@@@@@@@\                \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@\       \@@@@@@@@@@@@@@@\               /@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@\       \@@@@@@@@@@@@@@@\             /@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@\       \@@@@@@@@@@@@@@@\           /@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔⏋@@@@@@@@▏       ▔▔▔▔▔▔▔⏋@@@@@@@@▏         /@@@@@@@@/▔▔▔▔▔▔▔▔\@@@@@@@@@⎾▔▔▔▔▔
   ▕@@@@@@@@⎿___________   ▕@@@@@@@@▏        /@@@@@@@@/          \@@@@@@@@\     
    \@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏       /@@@@@@@@/            \@@@@@@@@\    
     \@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@/              \@@@@@@@@▏   
      \@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏              ▕@@@@@@@@▏   
       \@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏              ▕@@@@@@@@▏   
        ▔▔▔▔▔▔▔⏋@@@@@@⊏‗   ▕@@@@@@@@▏      ▕@@@@@@@@▏              ▕@@@@@@@@▏   
               ▕@@@@@@@@▏  ▕@@@@@@@@▏      ▕@@@@@@@@▏              ▕@@@@@@@@▏   
</pre>
<pre class="entity">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@L1000@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@A@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@L0800@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B2@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
</pre>
</div>
