<div 
  id="level8"
  data-bright="#DFBFDF"
  data-special="#30FF20"
  data-bitter="#FF2020"
  data-soft="#F08040"
  data-dark="#807070"
  data-bg="#101020"
>
<pre class="wall">
 . ▕@@@@@@@▏    \@@@@@@\     .        .    ▕@@@@@@@@▏  ▕@@@@@@@@▏  .          . 
___⏌@@@@@@@▏     \@@@@@@\__________        ▕@@@@@@⊏‗   ▕@@@@@@@@⎿_______________
@@@@@@@@@@@\   .  \@@@@@@@@@@@@@@@@▏ .     ▕@@@@@@@@▏ .▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@\      \@@@@@@@@@@@@@@@▏       ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@\      \@@@@@@@@@@@@@@▏     .  ‗⊐@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@\      \@@@@@@@@@@@@@▏       ▕@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔▔▔▔▔\@@@@@@\   .  ▔▔▔▔▔▔▔▔▔▔▔▔▔  .     ▕@@@@@@@@▏   ⊐@@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
______   \@@@@@@\__________________________⏌@@@@@@⊏‗   ▕@@@@@@@@▏   ____________
@@@@@@\   \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@\   \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@\   \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗‗‗___⏌@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@\   \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔⏋@@@@@@\   ▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@@@@@@@@@@@▏   ‗⊐@@@@@@⎾▔▔▔
   ▕@@@@@@@\_____    .  ▕@@@@@@@@⎿___________⏌@@@@@@@@@@@@@@@@@@⎿__⏌@@@@@@@@▏ . 
   ▕@@@@@@@@@@@@@\      ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   
 . ▕@@@@@@@@@@@@@@\     ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@⊏‗    
   ▕@@@@@@@@@@@@@@@\    ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   
   ▕@@@@@@@@@@@@@@@@\   ▕@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏   
    ▔▔▔▔▔▔▔▔▔▔\@@@@@@\   ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔    
        .      \@@@@@@\          .        .                    .         .      
  .             \@@@@@@\     .                  .         .                   . 
______________   \@@@@@@\_______________________________________________________
@@@@@@@@@@@@@@▏   \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@▏    \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@▏ .   \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@▏      \@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔        ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔‗⊐@@@@@@⎾▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
____________________________________________________   ▕@@@@@@@@▏   ____________
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏ .▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏. ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@⎾▔▔▔
_________________              .            ‗⊐@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@⎿___
@@@@@@@@@@@@@@@@@\                         ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@\      .                 ▕@@@@@@⊏‗   ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@\                 .     ▕@@@@@@@@▏  ▕@@@@@@@@▏. ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@\          .           ▕@@@@@@@@▏  ▕@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔⏋@@@@@@@⎾▔▔\@@@@@@\                      ‗⊐@@@@@@▏  ▕@@@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔
 . ▕@@@@@@@▏ . \@@@@@@\    .               ▕@@@@@@@@▏  ▕@@@@@@@@▏      .        
</pre>
<pre class="entity">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@L0900@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B4@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B4@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@L0700@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@B4@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@B2@@@@@@@@@@@@@@@@@@@@@@
</pre>
</div>
