<div 
  id="level10"
  data-bright="#FFCFBF"
  data-special="#70B010"
  data-bitter="#FF4F1F"
  data-soft="#5090D0"
  data-dark="#908070"
  data-bg="#101808"
>
<pre class="wall">
     \@@@@/                            &
_____⏌@@@@⎿_____________    ____________
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔
____________   ▕@@@@@@⊏‗________________
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏   ▔⏋@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏    ▕@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔‗⊐@@@@@@▏     ▔▔▔▔▔▔▔▔▔▔\@@@@@@/▔▔▔▔
___⏌@@@@@@@@▏   ____________/@@@@@@\____
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔▔⊐@@@@@/    ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
&&& ▕@@@@@@▏              &&        &&&&
</pre>
<pre class="entities">
   ▕@@@@@@@@▏                          &
___⏌@@@@@@@@⎿___________    ____________
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@L1100@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔
____________   ▕@@@@@@⊏‗________________
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏   ▔⏋@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏    ▕@@@@@@@@@@@@@@@@@@@@@@
▔▔▔▔‗⊐@@@@@@▏     ▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔
___⏌@@@@@@@@▏   ___________⏌@@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@A@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@L0900@@@@@@@@@@@@@@@
▔▔▔▔‗⊐@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
&&&▕@@@@@@@@▏&&&          &&        &&&&
</pre>
<pre class="danger">
   ▕@@@@@@@@▏                          &
___⏌@@▶@@◀@@⎿___________    ____________
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
@@@@@▲▲▲▲▲▲@@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@
▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔⏋@@@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔
____________   ▕@@@@@@⊏‗________________
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏   ▔⏋@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏    ▕▲▲▲▲@@@@@@@@@@@@@@@@@@
▔▔▔▔‗⊐@@@@@@▏     ▔▔▔▔▔▔▔▔▔⏋@@@@@@@@⎾▔▔▔
___⏌@@@@@@@@▏   ___________⏌@@@@@@@@⎿___
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@⊏‗   ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@▏  ▕@@@@@@@@@@@@@▲▲▲▲▲▲@@@@@
▔▔▔▔‗⊐@@@@@@▏   ▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔
&&&▕@@@@@@@@▏&&&          &&        &&&&
</pre>
<pre class="decor">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
<pre class="softWallA">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
<pre class="entities">
</pre>
<pre class="softWallB">@</pre>
<pre class="softWallC">@</pre>
<!-- movingPlatform need to be same size as scene -->
<pre class="movingPlatform">
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</pre>
</div>
