<meta charset=UTF8>
<style>
  @font-face{
    font-family:"ubunt";
    src:url("./UbuntuMono-R.ttf");
  }
  * {
    font-family:"ubunt";
    font-weight:normal;
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
  }
  html {
    font-size:1.2rem;
  }
  body {
    background-color:black;
  }
  figure {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  figcaption {
    margin-top:1rem;
  }
  h2, h1 {
    text-align:center;
    font-size:2rem;
  }
  h2, figure {
    margin-bottom:2rem;
  }
  article {
    gap: 1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
  }
  article > * {
    flex:1;
  }
  section {
    width:100vw;
    height:100vh;
    padding:2rem;
  }
  img, video {
    max-width:100%;
    max-height:calc(100vh - 10rem);
  }
  blockquote p{
    font-size:1.25rem;
    margin-bottom:1rem;
  }
  ul {
    margin-left:1rem;
  }
</style>
<main>
<section>
<article>
  <p style="text-align:center" >www.adelfaure.net/lab/amaze</p>
</article>
</section>
<section>
<article>
<h2>Hi everyone !</h2>
</article>
</section>
<section>
  <p>Find my work on <a href="https://www.adelfaure.net">www.adelfaure.net</a></p>
<article>
<figure>
<img loading="lazy" src="Screenshot 2023-12-13 at 16-46-08 Adel Faure ‒ ASCII art.png">
<figcaption>Slanted City, 2022, ASCII art using Jgs Font</figcaption>
</figure>
<figure>
<img loading="lazy" src="Screenshot 2023-12-13 at 16-47-32 Adel Faure ‒ ASCII art.png">
<figcaption>Blue Jay, 2023, textmode artwork using Textor</figcaption>
</figure>
<figure>
<img loading="lazy" src="ascii_faces.gif">
<figcaption>Face Study, 2023, interactive ASCII art using Jgs Font</figcaption>
</figure>
</article>
</section>

<section>
<article>
<h2>What is ASCII art ?</h2>
</article>
</section>

<section>
<article>
<blockquote>
  <p style="color:grey">They are "non-graphical graphics". Its palette is limited to the symbols and characters that you have available to you on your computer keyboard.
  </p>
  <footer>—Joan G Stark, 1999, <cite>The History of
    ASCII (text) Art</cite>
  </footer>
</blockquote>
<figure>
<img loading="lazy" src="starry_night_by_venividiascii.png">
<figcaption>Starry Night, Veni, Vidi, ASCII, 2020</figcaption>
</figure>
</article>
</section>

<section>
<article>
<h2>Every system got its own ASCII art</h2>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="jgs_dragon.png">
<figcaption>Dragon, Joan G Stark, 1996? - Usenet ASCII</figcaption>
</figure>
<figure>
<img loading="lazy" src="LDA-SNOW.ANS.png">
<figcaption>Snow, LDA, 2021 - ANSI</figcaption>
</figure>
<figure>
<img loading="lazy" src="DWIMMER-CAGE.PNG">
<figcaption>Cage, Dwimmer, 2021 - PETSCII</figcaption>
</figure>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="croweye_by_specter.png">
<figcaption>Croweye, Specter, 2021 - ATASCII</figcaption>
</figure>
<figure>
<img loading="lazy" src="simply_sarah.png">
<figcaption>The Giant's Causeway, SimplySarah, 2021 - TELETEXT</figcaption>
</figure>
<figure>
<img loading="lazy" src="rich_beatle.jpg">
<figcaption>妖怪がしゃどくろ, 機動戦艦艦長, 2022 - SHIFT-JIS</figcaption>
</figure>
</article>
</section>

<section>
<article>
<h2>Text mode arts ?</h2>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="kurogao.png">
<figcaption>Sunflower Field, Kurogao, 2022 - Unicode</figcaption>
</figure>
<figure>
<img loading="lazy" src="grx-vessel.xb.png">
<figcaption>Grx-vessel, Synkedam, 2021 - Xbin</figcaption>
</figure>
<figure>
<img loading="lazy" src="POLYDUCKS-FEAR_THE_CREEPER.PNG">
<figcaption>Fear the Creeper, Polyducks, 2019 - Custom Textmode</figcaption>
</figure>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="kojak_bob_neil.jpg">
<figcaption>Kojak, Bob Neill, 1982 - Machine à écrire</figcaption>
</figure>
<figure>
<img loading="lazy" src="TheAntiqueshop_AlbertSchiller.jpg">
<figcaption>The Antique Shop, Albert Schiller, 1938 - Presse typographique</figcaption>
</figure>
<figure>
<img loading="lazy" src="alfred_p_fluhr_improvisation.png">
<figcaption>Improvisation, Alfred P. Fluhr, fin XVIII - Presse typographique</figcaption>
</figure>
</article>
</section>

<section>
<article>
<h2>An ideal, not a nostalgia</h2>
</article>
</section>

<section>
<article>
<blockquote>
<p>
The lure of ASCII art might not be in the nostalgia of how it looks, but what
it represents: the ideals of "cyberspace". It stands for a wistful longing
for those pre-internet days when corporations hadn't yet taken control of our
digital day-to-day and the community was still in control of organising
itself.
</p>
  <footer>—Heikki Lotvonen, 2022, <cite>ASCII art: From a Commodity Into an Obscurity</cite>
  </footer>
</blockquote>
</article>
</section>

<section>
<article>
<h2>Animating using text mode</h2>
</article>
</section>

<section>
<article>
<blockquote>
<p>
There is no standard for text mode animation, each artist got its own process, tool or software.
</p>
<ul>
  <li><a href="http://en.wikipedia.org/wiki/TheDraw">TheDraw</a></li>
  <li><a href="https://github.com/marsFS/ART-4-Windows">Telepaint</a></li>
  <li><a href="http://picoe.ca/products/pablodraw/">Pablodraw</a></li>
  <li><a href="http://vectorpoem.com/playscii/">Playscii</a></li>
  <li><a href="http://www.acid.org/apps/apps.html">Aciddraw</a></li>
  <li><a href="https://blocktronics.github.io/moebius/">Moebius</a></li>
  <li><a href="https://durdraw.org/">Durdraw</a></li>
  <li><a href="https://edit.tf/">Edit.tf</a></li>
  <li><a href="https://github.com/devottys/darkdraw">Darkdraw</a></li>
  <li><a href="https://lvllvl.com/">Lvllvl</a></li>
  <li><a href="https://stonestoryrpg.com/stonescript/manual.html">Stone Script</a></li>
  <li><a href="https://www.gridsagegames.com/rexpaint/">Rex Paint</a></li>
</ul>
</blockquote>
<figure>
<img loading="lazy" src="Durdraw-0.20-demo-new.gif">
<figcaption>Durdraw demo, Indyjoenz, 2023</figcaption>
</figure>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="jarfish.gif">
<figcaption>Sheep, Jarfish, 2021 - Teletext</figcaption>
</figure>
<figure>
<img loading="lazy" src="jellica.gif">
<figcaption>Untitled, Jellica, 2017 - PETSCII video conversion using Lvllvl</figcaption>
</figure>
<figure>
<img loading="lazy" src="POLYDUCKS-BUTTON_PRESSER.GIF">
<figcaption>Button Presser, Polyducks, 2021 - PETSCII using Lvllvl</figcaption>
</figure>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="ha.gif">
<figcaption>Quack quack, Harmonie Aupetit, 2023 - text editor and raster graphics editor (Photoshop)</figcaption>
</figure>
<figure>
<img loading="lazy" src="JONINSCII-DANDELION.gif">
<figcaption>Dandelion, Joninscii, 2021 - text editor and raster graphics editor (Figma)</figcaption>
</figure>
<figure>
<img loading="lazy" src="i_see_the_rain.gif">
<figcaption>I see the rain, Blippypixel, 2021 - Teletext using Telepaint</figcaption>
</figure>
</article>
</section>

<section>
<article>
<h2>My experimentations while making Textor</h2>
</article>
</section>

<section>
<article>
<figure>
  <video loading="lazy" autoplay muted playsinline loop>
	<source src="portraits.mp4" type="video/mp4">
</video>
<figcaption>Animated portraits (unfinished), 2023</figcaption>
</figure>

<figure>
<figure>
  <video loading="lazy" autoplay muted playsinline loop>
	<source src="lucky_gary.mp4" type="video/mp4">
</video>
<figcaption>Lucky Gary, 2023</figcaption>
</figure>
</article>
</section>

<section>
<article>
<figure>
  <video loading="lazy" autoplay muted playsinline loop>
	<source src="lucky_gary_behind_the_scene.mp4" type="video/mp4">
</video>
<figcaption>Source code of Lucky Gary</figcaption>
</figure>
</article>
</section>

<section>
<article>
<h2>Text mode video games</h2>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="stone_story.gif">
<figcaption>Stone Story, Standardcombo, 2020</figcaption>
</figure>
<figure>
<img loading="lazy" src="rainy_day.gif">
<figcaption>Rainy day remastered, TouloutouMou, 2022</figcaption>
</figure>
</article>
</section>

<section>
<article>
<figure>
<img loading="lazy" src="ascii_patrol.gif">
<figcaption>Ascii Patrol, Gumix, 2016</figcaption>
</figure>
<figure>
<img loading="lazy" src="whispers_in_the_moss.gif">
<figcaption>Whispers in the Moss, Uncultured Games, 2023</figcaption>
</figure>
</article>
</section>

<section>
<article>
  <figure>
  <h2>ASCIIcker</h2>
  <h2>ASCIIdent</h2>
  <h2>Black Sanctuary RPG</h2>
  <h2>CandyBox</h2>
  <h2>Cog Mind</h2>
  <h2>LumASCII</h2>
  </figure>
</article>
</section>

<section>
<article>
  <h1><a href="https://www.adelfaure.net/games">My games</a></h1>
</article>
</section>


</main>
<script>
  let characters = "-_+,;.:#@£!\"$%&/{([]=}?\\`´^~*'";
  let titres = document.getElementsByTagName("h2");
  let titres_content = [];
  for (var i = 0; i < titres.length; i++) {
    titres_content.push(titres[i].textContent);
  }
  function anim_text(){
    for(var i = 0; i < titres.length; i++){
      if (Math.random()>0.25)continue;
      if (Math.random()>0.25) {
        titres[i].textContent = titres_content[i];
        continue;
      }
      let titre_content = titres_content[i].split('');
      let corruption = Math.floor(Math.random()*titre_content.length);
      while (corruption--){
        titre_content[Math.floor(Math.random()*titre_content.length)] = characters[Math.floor(Math.random()*characters.length)];
      }
      titres[i].textContent = titre_content.join('');
    }
    setTimeout(anim_text,Math.floor(1000/12));
  }
  anim_text();
  document.addEventListener("keydown",function(e){
    if (e.key == "n"){
      window.scrollBy(0,window.innerHeight);
    }
    if (e.key == "p"){
      window.scrollBy(0,window.innerHeight*-1);
    }
  });
</script>
