/* stylesheet */

a {
  text-decoration: none;
  cursor: pointer;
}

.day a {
  color: #00F;
}

.night a {
  color: #0FF;
}

a:hover {
  background-color: #f0f;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "sligoil" !important;*/
  /* font-size: 1rem !important;*/
  /* line-height: initial !important;*/
}

header {
  color: #fff !important;
  font-family: sans-serif;
  padding: 0rem 1rem 1rem 1rem;
}

.day header {
  background-color: #08F;
}

.night header {
  background-color: #088;
}

header p {
  color: #000;
}

header article {
  display: inline-block;
  vertical-align: top;
  margin-right: 6vw;
}

pre {
  padding-top: 0;
  margin-top: 0;
}

.jgs5 pre {
  font-family: 'jgs5';
}

.jgs7 pre {
  font-family: 'jgs7';
}

.jgs9 pre {
  font-family: 'jgs9';
}

.x1.jgs5 pre {
  padding-left: 5px;
  font-size: 10px;
  line-height: 10px;
}

.x1.jgs5 video {
  padding-left: 5px;
  width: calc(5px * 80);
}

.x2.jgs5 pre {
  padding-left: 10px;
  font-size: 20px;
  line-height: 20px;
}

.x2.jgs5 video {
  padding-left: 10px;
  width: calc(10px * 80);
}

.x3.jgs5 pre {
  padding-left: 15px;
  font-size: 30px;
  line-height: 30px;
}

.x3.jgs5 video {
  padding-left: 15px;
  width: calc(15px * 80);
}

.x1.jgs7 pre {
  padding-left: 7px;
  font-size: 14px;
  line-height: 14px;
}

.x1.jgs7 video {
  padding-left: 7px;
  width: calc(7px * 80);
}

.x2.jgs7 pre {
  padding-left: 14px;
  font-size: 28px;
  line-height: 28px;
}

.x2.jgs7 video {
  padding-left: 14px;
  width: calc(14px * 80);
}

.x3.jgs7 pre {
  padding-left: 21px;
  font-size: 42px;
  line-height: 42px;
}

.x3.jgs7 video {
  padding-left: 21px;
  width: calc(21px * 80);
}

.x1.jgs9 pre {
  padding-left: 9px;
  font-size: 18px;
  line-height: 18px;
}

.x1.jgs9 video {
  padding-left: 9px;
  width: calc(9px * 80);
}

.x2.jgs9 pre {
  padding-left: 18px;
  font-size: 36px;
  line-height: 36px;
}

.x2.jgs9 video {
  padding-left: 18px;
  width: calc(18px * 80);
}

.x3.jgs9 pre {
  padding-left: 36px;
  font-size: 54px;
  line-height: 54px;
}

.x3.jgs9 video {
  padding-left: 36px;
  width: calc(36px * 80);
}

.day, .dya #font_tools {
  color: black;
  background-color: white;
}

.night, .night #font_tools {
  color: white;
  background-color: black;
}
