<div id="assets">
<pre id="mirror">
┌--┐
|  |
└--┘
</pre>
<pre id="hEntrelace">  ::::  
</pre>
<pre id="vEntrelace">  
::
::
  
</pre>
<pre id="player">⇕
⇐
⇒
⇑
⇓
⇖
⇗
⇘
⇙
</pre>
<pre id="rain">l
@
@
@
</pre>
<pre id="hidden">@</pre>
<pre id="key"> l 
 ⚴ 
</pre>
<pre id="coin"> l 
 0 
 ☺ 
 0 
 l 
 O 
 ◯ 
 O 
</pre><pre id="grab">
+@@@@
@@$@l
@:@@@
l@@@@
@@!@:
@@@@@
:@@@@
@@.@@
@+@@@
@@@@@
@@@@+
@l@@@
</pre>
<pre id="bat">V
l
W
-
</pre>
<pre id="platform">▯
</pre>
<pre id="lockedDoor">@@@@
┌--┐
|⚴ |
|__|
@@@@
┌[]┐
|⚴ |
|__| 
</pre>
<pre id="coinDoor">0000
┌--┐
|☺ |
|__|
ABCD
┌[]┐
|☺ |
|__| 
</pre>
<pre id="door">@@@@
┌--┐
|  |
|__|
@@@@
┌[]┐
|  |
|__| 
</pre>
<pre id="checkpoint">
┌O┐
|⇕|
└-┘
┌O┐
| |
└-┘
</pre>
</div>
