<figure><img src="black_on_white_jgs_alt.gif"/><figcaption>Black on white. Font Jgs7. Alternative version</figcaption></figure>
<figure><img src="black_on_white_jgs.gif"/><figcaption>Black on white. Font Jgs7</figcaption></figure>
<figure><img src="black_on_white_nan_alt.gif"/><figcaption>Black on white. Font NaNHoloMono-Bold. Alternative version</figcaption></figure>
<figure><img src="black_on_white_nan_alt_reg.gif"/><figcaption>Black on white. Font NaNHoloMono-Regular. Alternative version</figcaption></figure>
<figure><img src="black_on_white_nan.gif"/><figcaption>Black on white. Font NaNHoloMono-Bold</figcaption></figure>
<figure><img src="black_on_white_nan_reg.gif"/><figcaption>Black on white. Font NaNHoloMono-Regular</figcaption></figure>
<figure><img src="white_on_black_jgs_alt.gif"/><figcaption>White on black. Font Jgs7. Alternative version</figcaption></figure>
<figure><img src="white_on_black_jgs.gif"/><figcaption>White on black. Font Jgs7</figcaption></figure>
<figure><img src="white_on_black_nan_alt.gif"/><figcaption>White on black. Font NaNHoloMono-Bold. Alternative version</figcaption></figure>
<figure><img src="white_on_black_nan_alt_reg.gif"/><figcaption>White on black. Font NaNHoloMono-Regular. Alternative version</figcaption></figure>
<figure><img src="white_on_black_nan.gif"/><figcaption>White on black. Font NaNHoloMono-Bold</figcaption></figure>
<figure><img src="white_on_black_nan_reg.gif"/><figcaption>White on black. Font NaNHoloMono-Regular</figcaption></figure>
