body{
  margin:0;
  background-color:#000;
  overflow:hidden;
  width: 100vw;
  height: 100vh;
}
canvas:focus{
  outline:none;
}
@font-face{
  font-family:"jgs";
  src:url("../src/Jgs-SingleLine-regular.ttf");
}
#errorLogWrapper{
  font-family:"jgs";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color:#C04040;
  color:white;
  font-weight: bold;
  z-index:100;
}
