<!-- Use TOM in your project by including this HTML file in your index.php
<head></head> with this line : 'php include "tom/tom_include.html";' -->
<link href="./tom/tom_style/tom_style.css" rel="stylesheet"/>
<!-- TOM BASE -->
<script defer src="./tom/tom_javascript/tom_base/tom_animation.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_camera.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_display.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_draw_line.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_grid.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_input.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_mouse.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_time.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_txtElements.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_txtGen.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_txtScreen.js"></script>
<script defer src="./tom/tom_javascript/tom_base/tom_txtUtils.js"></script>
<!-- TOM BOOT -->
<script defer src="./tom/tom_javascript/tom_setup.js"></script>
<script defer src="./tom/tom_javascript/tom_main.js"></script>
<script defer src="./tom/tom_javascript/tom_init.js"></script>
