html {
  font-family: Times New Roman, serif;
  font-size: 14pt;
  line-height: 21pt;
}
a {
  color: blue;
  text-decoration: none;
}
header * {
  display: inline-block;
}
header p:nth-of-type(1):after {
  content:',';
}
h1 {
  font-size: 1rem;
  font-weight: normal;
}
h1:after {
  content:',';
}
h2 {
}
blockquote:before {
  content:'‒';
  margin-right: 0.5rem;
  float:left;
}
blockquote:nth-of-type(odd) {
  margin-top: 21pt;
}
blockquote:nth-of-type(even) {
  margin-bottom: 21pt;
  color: grey;
}
body {
  max-width: 40rem;
  margin: auto;
}
figure {
  margin-top: 42pt;
  margin-bottom: 42pt;
}
figcaption {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  line-height: 14pt;
}
img {
  max-width: 100%;
}
li {
}
