<h2 id="encodage-des-tuiles">Encodage des tuiles</h2>
<p>La manière dont Textor encode les tuiles est similaire à <a
href="https://fr.wikipedia.org/wiki/Codage_des_caract%C3%A8res">l'encodage
de caractères</a>. Le principe est d'assigner une valeur numérique à une
combinaison de forme, de couleur de forme et de couleur de fond de
tuile.</p>
<figure>
<img src="../docs/assets/images/A_blanc_sur_noir.png"
alt="Exemple de tuile avec comme forme &#39;A&#39;, noir comme couleur de fond et blanc comme couleur de forme" />
<figcaption aria-hidden="true">Exemple de tuile avec comme forme 'A',
noir comme couleur de fond et blanc comme couleur de forme</figcaption>
</figure>
<p>Les valeurs de tuiles sont rangées par forme puis par combinaisons de
couleur de forme et de couleur de fond. Le système d'encodage de Textor
varie selon le nombre de formes et de couleurs de tuiles définies par
les classes <code>TileSet</code> et <code>Palette</code> selon la
formule suivante:</p>
<pre><code>valeur de tuile = (
  forme de tuile
  + nombre de tuiles * couleur de fond
  + nombre de tuiles * nombre de couleurs * couleur de forme
)</code></pre>
<h3 id="exemple">Exemple</h3>
<p>Prenons l'exemple de l'encodage obtenu par le <code>TileSet</code>
<code>ascii8x16</code> combiné avec la <code>Palette</code>
<code>base1</code>:</p>
<figure>
<img src="../docs/assets/images/ascii8x16_et_base1.png"
alt="Ordre des tuiles encodées par la combinaison ascii8x16 - base1 disposé par lignes de 32 tuiles." />
<figcaption aria-hidden="true">Ordre des tuiles encodées par la
combinaison <code>ascii8x16</code> - <code>base1</code> disposé par
lignes de 32 tuiles.</figcaption>
</figure>
<p><code>ascii8x16</code> contient 128 formes de tuiles correspondant à
l'encodage <a
href="https://fr.wikipedia.org/wiki/American_Standard_Code_for_Information_Interchange">ASCII</a>.</p>
<p>Les 32 premiers caractères ASCII correspondent à des <a
href="https://fr.wikipedia.org/wiki/Caract%C3%A8re_de_contr%C3%B4le">caractères
de contrôle</a>. Ces derniers n'étant pas censés être affichés ils n'ont
pas de forme et se confondent ici avec la forme d'un espace. Ils sont
dans l'image ces bandes vides au début de chaque changement de
couleur.</p>
<p><code>base1</code> contient 2 couleurs, le noir et le blanc,
correspondant à une <a
href="https://en.wikipedia.org/wiki/Color_depth#1-bit_color">profondeur
de couleur 1-bit</a>.</p>
<p>La combinaison des deux produit <code>128*2*2</code> tuiles pour un
total de 512.</p>
<p>On peux observer dans l'image la manière dont sont rangées les tuiles
par le système d'encodage. D'abord 128 tuiles noir sur fond noir, le
noir étant la première couleur de la palette, produisant un rectangle
noir sur 4 lignes. Ensuite 128 tuiles noir sur fond blanc, le blanc
étant la deuxième couleur de la palette. Puis 128 tuiles blanc sur fond
noir, les combinaisons de couleur de fond étant épuisées c'est la
couleur de forme qui change tandis le fond retourne à la valeur
initiale. Viens enfin 128 tuiles en blanc sur fond blanc marquant la fin
des combinaisons possibles et produisant un rectangle blanc sur 4
lignes.</p>
<p>Pour retrouver la valeur d'un 'A' noir sur fond blanc nous pouvons
reprendre la formule citée plus haut.</p>
<pre><code>valeur de tuile = (
  65
  + 128 * 1
  + 128 * 1 * 0
)</code></pre>
<p>65 étant la valeur de la forme de la tuile, la 65e forme sur les 128
stockées dans <code>ascii8x16</code>.</p>
<p>128 étant le total des formes de tuiles.</p>
<p>1 étant la valeur de couleur de fond de la tuile, correspondant au
blanc, deuxième valeur de couleur sur les 2 stockées dans
<code>base1</code>. (Il faut compter à partir de 0)</p>
<p>1 étant le total de couleurs stockées dans <code>base1</code>.</p>
<p>0 étant la valeur de couleur de forme de la tuile, correspondant au
noir, première valeur de couleur sur les 2 stockées dans
<code>base1</code>.</p>
<p>Le résultat étant 193 nous pouvons retrouver dans l'image le 'A' noir
sur fond blanc en 193e position. Il est possible de vérifier en s'aidant
des lignes, 'A' noir sur fond blanc étant à la 6e ligne après la tuile
'@' soit <code>6*32+1 = 192</code>.</p>
<p>Changer le <code>tileSet</code> ou la <code>palette</code> fait
varier l'encodage selon le nombre de tuiles et de couleurs.</p>
<p>Conservons le <code>TileSet</code> <code>ascii8x16</code> mais
changeons de <code>Palette</code> avec <code>base3</code> aura comme
resultat l'encodage suivant:</p>
<figure>
<img src="../docs/assets/images/ascii8x16_et_base3.png"
alt="Ordre des tuiles encodées par la combinaison ascii8x16 - base3 disposé par lignes de 64 tuiles." />
<figcaption aria-hidden="true">Ordre des tuiles encodées par la
combinaison <code>ascii8x16</code> - <code>base3</code> disposé par
lignes de 64 tuiles.</figcaption>
</figure>
<p><code>base3</code> contient 4 couleurs, correspondant à une <a
href="https://en.wikipedia.org/wiki/Color_depth#3-bit_color">profondeur
de couleur 3-bit</a>.</p>
<p>Combiné avec <code>ascii8x16</code> ont obtient <code>128*4*4</code>
tuiles pour un total de 2048.</p>
<p>Avec ce changement de <code>Palette</code> la valeur 193 ne tombe
plus sur 'A' noir sur fond blanc mais sur 'A' noir sur fond gris sombre,
le nouveau calcul étant:</p>
<pre><code>valeur de tuile = (
  65
  + 128 * 3
  + 128 * 3 * 0
)</code></pre>
<p>Le premier 3 étant la valeur de couleur de fond de la tuile,
correspondant au blanc, 4e valeur de couleur sur les 4 stockées dans
<code>base3</code>.</p>
<p>Le deuxième 3 étant le nombre total de couleur stockées dans
<code>base3</code>.</p>
<p>Le résultat étant 449 nous pouvons retrouver dans l'image le 'A' noir
sur fond blanc en 449e position. Il est possible de vérifier en s'aidant
des lignes, 'A' noir sur fond blanc étant à la 7e ligne après la tuile
'@' soit <code>7*64+1 = 449</code>.</p>
