<h1 id="fonction-fragment">Fonction <code>fragment</code></h1>
<p>Cette fonction s'execute à chacune des tuiles qui composent
l'affichage définissant le visuel en sortie de programme.</p>
<p>Pour être appliquée en sortie une fonction <code>fragment</code> doit
être définie précédée de l'instruction <code>export</code> et doit
retourner une valeur décimale via l'instruction <code>return</code>.</p>
<p>Les valeurs envoyées de cette manière seront interprétées en formes
et en couleurs sur chaque tuile de la grille qui compose l'affichage
(voir <span style="background-color:#E8E8FF">Encoding</span>). L'envoie de la valeur 35 par
exemple remplira la grille d'affichage d'un '#'.</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(){ </span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> <span class="dv">35</span><span class="op">;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h1 id="objet-contexte-dun-fragment">Objet contexte d'un
<code>fragment</code></h1>
<p>Lorsqu'une fonction <code>fragment</code> est traitée, un objet
contenant des propriétées spécifiques à son contexte d'execution lui est
envoyé en premier argument. Pour récupérer cet objet il suffit
d'attribuer un nom de variable en premier argument lors de la définition
de la function <code>fragment</code> décrite précédement.</p>
<div class="sourceCode" id="cb2"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(context){</span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> context<span class="op">.</span><span class="fu">write</span>(<span class="bu">Object</span><span class="op">.</span><span class="fu">keys</span>(context))<span class="op">;</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> text <span class="op">?</span> text <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<p>Cet objet contient différents types d'informations et d'outils; il
apporte des données sur la position de la tuile en cours de traitement,
sur les dimensions et le contenu de la grille d'affichage en sortie
ainsi sur le set de tuiles (voir <span style="background-color:#E8E8FF">TileSets</span>) et la palette de couleur (voir <span style="background-color:#E8E8FF">Palettes</span>) en cours d'utilisation. Il
contient également des fonctions se servant du système d'encodage pour
modifier les couleurs des tuiles ou convertir du texte ou des valeurs
hexadecimales en valeur décimales.</p>
<p>Il contient par exemple la méthode <code>write</code> permettant
d'écrire du texte en sortie.</p>
<div class="sourceCode" id="cb3"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext){</span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> fragmentContext<span class="op">.</span><span class="fu">write</span>(<span class="st">&quot;Sortie du fragment&quot;</span>)<span class="op">;</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> text <span class="op">?</span> text <span class="op">:</span> <span class="dv">35</span><span class="op">;</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<p>À noté qu'il est possible de nommer librement l'argument et de créer
des raccourcis vers ses propriétées.</p>
<div class="sourceCode" id="cb4"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(ctx){</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {write<span class="op">,</span>y} <span class="op">=</span> ctx<span class="op">;</span></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> <span class="fu">write</span>(<span class="st">&quot;Ligne &quot;</span><span class="op">+</span>y<span class="op">,</span><span class="dv">0</span><span class="op">,</span>y)<span class="op">;</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> text <span class="op">?</span> text <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h1 id="index-des-propritées-du-contexte-de-fragment">Index des
propritées du contexte de <code>fragment</code></h1>
<ul>
<li><a
href="#fragmentcontext.writestrxyfgbg"><code>fragmentContext.write(str,x,y,fg,bg)</code></a></li>
<li><a href="#fragmentcontext.i"><code>fragmentContext.i</code></a></li>
<li><a href="#fragmentcontext.x"><code>fragmentContext.x</code></a></li>
<li><a href="#fragmentcontext.y"><code>fragmentContext.y</code></a></li>
<li><a href="#fragmentcontext.w"><code>fragmentContext.w</code></a></li>
<li><a href="#fragmentcontext.h"><code>fragmentContext.h</code></a></li>
<li><a
href="#fragmentcontext.di"><code>fragmentContext.di</code></a></li>
<li><a href="#fragmentcontext.d"><code>fragmentContext.d</code></a></li>
<li><a href="#fragmentcontext.t"><code>fragmentContext.t</code></a></li>
<li><a
href="#fragmentcontext.tw"><code>fragmentContext.tw</code></a></li>
<li><a
href="#fragmentcontext.th"><code>fragmentContext.th</code></a></li>
<li><a href="#fragmentcontext.c"><code>fragmentContext.c</code></a></li>
<li><a
href="#fragmentcontext.cpstr"><code>fragmentContext.cp(str)</code></a></li>
<li><a
href="#fragmentcontext.hexstr"><code>fragmentContext.hex(str)</code></a></li>
<li><a
href="#fragmentcontext.fgvalue"><code>fragmentContext.fg(value)</code></a></li>
<li><a
href="#fragmentcontext.bgvalue"><code>fragmentContext.bg(value)</code></a></li>
<li><a
href="#fragmentcontext.gtvalue"><code>fragmentContext.gt(value)</code></a></li>
<li><a
href="#fragmentcontext.gfgvalue"><code>fragmentContext.gfg(value)</code></a></li>
<li><a
href="#fragmentcontext.gbgvalue"><code>fragmentContext.gbg(value)</code></a></li>
</ul>
<h3
id="fragmentcontext.writestrxyfgbg"><code>fragmentContext.write(str,x,y,fg,bg)</code></h3>
<p>Converti une chaine de caractères en valeur decimales et les placent
aux coordonées indiquées en appliquant une la couleur de forme et de
fond. Les arguments de coordonées (x,y) et de couleur (fg,bg) sont
optionnels. Par défaut le text se place en 0,0 sans couleur définie.</p>
<div class="sourceCode" id="cb5"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> fragmentContext<span class="op">.</span><span class="fu">write</span>(<span class="st">&quot;hello world&quot;</span>)<span class="op">;</span></span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> text <span class="op">?</span> text <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="fragmentcontext.i"><code>fragmentContext.i</code></h3>
<p><code>index</code></p>
<p>Renvoie la valeur d'index de la tuile en cours de traitement.</p>
<div class="sourceCode" id="cb6"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {i<span class="op">,</span>y<span class="op">,</span>write} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> fragmentContext<span class="op">.</span><span class="fu">write</span>(</span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>    i<span class="op">+</span><span class="st">&quot; index du debut de ligne &quot;</span><span class="op">+</span>y<span class="op">,</span><span class="dv">0</span><span class="op">,</span>y</span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> text <span class="op">?</span> text <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb6-7"><a href="#cb6-7" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="fragmentcontext.x"><code>fragmentContext.x</code></h3>
<p><code>x</code></p>
<p>Renvoie la position sur l'axe horizontal de la tuile en cours de
traitement.</p>
<div class="sourceCode" id="cb7"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb7-2"><a href="#cb7-2" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> <span class="op">!</span>(fragmentContext<span class="op">.</span><span class="at">x</span><span class="op">%</span><span class="dv">4</span>) <span class="op">?</span> <span class="dv">35</span> <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb7-3"><a href="#cb7-3" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="fragmentcontext.y"><code>fragmentContext.y</code></h3>
<p><code>y</code></p>
<p>Renvoie la position sur l'axe vertical de la tuile en cours de
traitement.</p>
<div class="sourceCode" id="cb8"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb8-2"><a href="#cb8-2" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> <span class="op">!</span>(fragmentContext<span class="op">.</span><span class="at">y</span><span class="op">%</span><span class="dv">4</span>) <span class="op">?</span> <span class="dv">35</span> <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb8-3"><a href="#cb8-3" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="fragmentcontext.w"><code>fragmentContext.w</code></h3>
<p><code>width</code></p>
<p>Renvoie le nombre de colonnes de l'affichage.</p>
<div class="sourceCode" id="cb9"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb9-2"><a href="#cb9-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {x<span class="op">,</span>w} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb9-3"><a href="#cb9-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> x <span class="op">&gt;</span> w<span class="op">/</span><span class="dv">2</span> <span class="op">?</span> <span class="dv">35</span> <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb9-4"><a href="#cb9-4" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="fragmentcontext.h"><code>fragmentContext.h</code></h3>
<p><code>height</code></p>
<p>Renvoie le nombre de lignes de l'affichage.</p>
<div class="sourceCode" id="cb10"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb10-2"><a href="#cb10-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {y<span class="op">,</span>h} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb10-3"><a href="#cb10-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> y <span class="op">&gt;</span> h<span class="op">/</span><span class="dv">2</span> <span class="op">?</span> <span class="dv">35</span> <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb10-4"><a href="#cb10-4" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="fragmentcontext.di"><code>fragmentContext.di</code></h3>
<p><code>data index</code></p>
<p>Renvoie la valeur actuelle de la tuile en cours de traitement.</p>
<div class="sourceCode" id="cb11"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> fragmentContext<span class="op">.</span><span class="at">di</span> <span class="op">+</span> <span class="dv">1</span><span class="op">;</span></span>
<span id="cb11-3"><a href="#cb11-3" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2 id="fragmentcontext.d"><code>fragmentContext.d</code></h2>
<p><code>data</code></p>
<p>Renvoie la liste du total des valeurs de tuiles.</p>
<div class="sourceCode" id="cb12"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb12-1"><a href="#cb12-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb12-2"><a href="#cb12-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {i<span class="op">,</span>di<span class="op">,</span>d} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb12-3"><a href="#cb12-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> (</span>
<span id="cb12-4"><a href="#cb12-4" aria-hidden="true" tabindex="-1"></a>    <span class="op">!</span>i</span>
<span id="cb12-5"><a href="#cb12-5" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> di</span>
<span id="cb12-6"><a href="#cb12-6" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> d[i<span class="op">-</span><span class="dv">1</span>]<span class="op">+</span><span class="dv">1</span></span>
<span id="cb12-7"><a href="#cb12-7" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb12-8"><a href="#cb12-8" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2 id="fragmentcontext.t"><code>fragmentContext.t</code></h2>
<p><code>tiles</code></p>
<p>Renvoie la taille du set de tuiles.</p>
<div class="sourceCode" id="cb13"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb13-1"><a href="#cb13-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb13-2"><a href="#cb13-2" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {i<span class="op">,</span>t} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb13-3"><a href="#cb13-3" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> i <span class="op">&lt;</span> t <span class="op">?</span> i <span class="op">:</span> <span class="dv">32</span><span class="op">;</span></span>
<span id="cb13-4"><a href="#cb13-4" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2 id="fragmentcontext.tw"><code>fragmentContext.tw</code></h2>
<p><code>tile width</code></p>
<p>Renvoie la largeur en pixel des tuiles du set de tuiles.</p>
<h2 id="fragmentcontext.th"><code>fragmentContext.th</code></h2>
<p><code>tile height</code></p>
<p>Renvoie la hauteur en pixel des tuiles du set de tuiles.</p>
<h2 id="fragmentcontext.c"><code>fragmentContext.c</code></h2>
<p><code>colors</code></p>
<p>Renvoie le nombre de couleurs de la palette.</p>
<div class="sourceCode" id="cb14"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb14-1"><a href="#cb14-1" aria-hidden="true" tabindex="-1"></a><span class="im">import</span> {base4} <span class="im">from</span> <span class="st">&quot;textor/assets/palettes.mjs&quot;</span></span>
<span id="cb14-2"><a href="#cb14-2" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> {random<span class="op">,</span>floor} <span class="op">=</span> <span class="bu">Math</span><span class="op">;</span></span>
<span id="cb14-3"><a href="#cb14-3" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> palette <span class="op">=</span> base4<span class="op">;</span></span>
<span id="cb14-4"><a href="#cb14-4" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> freeColor <span class="op">=</span> <span class="dv">1</span><span class="op">;</span></span>
<span id="cb14-5"><a href="#cb14-5" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb14-6"><a href="#cb14-6" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {t<span class="op">,</span>c} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb14-7"><a href="#cb14-7" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> <span class="fu">floor</span>(<span class="fu">random</span>()<span class="op">*</span>t<span class="op">*</span>c<span class="op">*</span>c)<span class="op">;</span></span>
<span id="cb14-8"><a href="#cb14-8" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2 id="fragmentcontext.cpstr"><code>fragmentContext.cp(str)</code></h2>
<p><code>code point</code></p>
<p>Converti une chaine de caractères en valeur decimales. Renvoi une
valeur seule ou une liste selon si la chaine comporte un ou plusieurs
caractères.</p>
<div class="sourceCode" id="cb15"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb15-1"><a href="#cb15-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb15-2"><a href="#cb15-2" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> fragmentContext<span class="op">.</span><span class="fu">cp</span>(<span class="st">&#39;A&#39;</span>)<span class="op">;</span></span>
<span id="cb15-3"><a href="#cb15-3" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2
id="fragmentcontext.hexstr"><code>fragmentContext.hex(str)</code></h2>
<p><code>hexadecimal</code></p>
<p>Converti une chaine de caractères composées de valeurs hexadecimales
séparées un esapce en valeur decimales. Renvoi une valeur seule ou une
liste selon si la chaine comporte une ou plusieurs valeurs
hexadecimales.</p>
<p>À savoir qu'il est possible d'afficher ou cacher un tableau des
valeurs hexadecimales correspondant aux tuiles du <code>tileSet</code>
en cours d'utilisation via la touche <code>F1</code>.</p>
<div class="sourceCode" id="cb16"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb16-1"><a href="#cb16-1" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb16-2"><a href="#cb16-2" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> fragmentContext<span class="op">.</span><span class="fu">hex</span>(<span class="st">&#39;41&#39;</span>)<span class="op">;</span></span>
<span id="cb16-3"><a href="#cb16-3" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2
id="fragmentcontext.fgvalue"><code>fragmentContext.fg(value)</code></h2>
<p><code>foreground</code></p>
<p>Retourne l'index d'encodage de la couleur de forme correspondant à la
valeur donnée. Cet index, ajouté à une valeur de forme de tuile permet
de définir sa couleur de forme.</p>
<div class="sourceCode" id="cb17"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb17-1"><a href="#cb17-1" aria-hidden="true" tabindex="-1"></a><span class="im">import</span> {base3} <span class="im">from</span> <span class="st">&quot;textor/assets/palettes.mjs&quot;</span></span>
<span id="cb17-2"><a href="#cb17-2" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> palette <span class="op">=</span> base3<span class="op">;</span></span>
<span id="cb17-3"><a href="#cb17-3" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> freeColor <span class="op">=</span> <span class="dv">1</span><span class="op">;</span></span>
<span id="cb17-4"><a href="#cb17-4" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb17-5"><a href="#cb17-5" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {cp<span class="op">,</span>fg} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb17-6"><a href="#cb17-6" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> <span class="fu">cp</span>(<span class="st">&#39;A&#39;</span>)<span class="op">+</span><span class="fu">fg</span>(<span class="dv">1</span>)<span class="op">;</span></span>
<span id="cb17-7"><a href="#cb17-7" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2
id="fragmentcontext.bgvalue"><code>fragmentContext.bg(value)</code></h2>
<p><code>background</code></p>
<p>Retourne l'index d'encodage de la couleur de fond correspondant à la
valeur donnée. Cet index, ajouté à une valeur de forme de tuile permet
de définir sa couleur de fond.</p>
<div class="sourceCode" id="cb18"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb18-1"><a href="#cb18-1" aria-hidden="true" tabindex="-1"></a><span class="im">import</span> {base3} <span class="im">from</span> <span class="st">&quot;textor/assets/palettes.mjs&quot;</span></span>
<span id="cb18-2"><a href="#cb18-2" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> palette <span class="op">=</span> base3<span class="op">;</span></span>
<span id="cb18-3"><a href="#cb18-3" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> freeColor <span class="op">=</span> <span class="dv">1</span><span class="op">;</span></span>
<span id="cb18-4"><a href="#cb18-4" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb18-5"><a href="#cb18-5" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {cp<span class="op">,</span>fg<span class="op">,</span>bg} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb18-6"><a href="#cb18-6" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> <span class="fu">cp</span>(<span class="st">&#39;A&#39;</span>)<span class="op">+</span><span class="fu">fg</span>(<span class="dv">1</span>)<span class="op">+</span><span class="fu">bg</span>(<span class="dv">2</span>)<span class="op">;</span></span>
<span id="cb18-7"><a href="#cb18-7" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2
id="fragmentcontext.gtvalue"><code>fragmentContext.gt(value)</code></h2>
<p><code>get tile</code></p>
<p>Retourne la forme de tuile correspondante à la valeur donnée.</p>
<div class="sourceCode" id="cb19"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb19-1"><a href="#cb19-1" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> {random<span class="op">,</span>floor} <span class="op">=</span> <span class="bu">Math</span><span class="op">;</span></span>
<span id="cb19-2"><a href="#cb19-2" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> tile <span class="op">=</span> <span class="fu">floor</span>(<span class="fu">random</span>()<span class="op">*</span><span class="dv">128</span>)<span class="op">;</span></span>
<span id="cb19-3"><a href="#cb19-3" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb19-4"><a href="#cb19-4" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {write<span class="op">,</span>d<span class="op">,</span>gt<span class="op">,</span>di<span class="op">,</span>cp} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb19-5"><a href="#cb19-5" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> <span class="fu">write</span>(</span>
<span id="cb19-6"><a href="#cb19-6" aria-hidden="true" tabindex="-1"></a>    <span class="fu">gt</span>(d[<span class="dv">0</span>])<span class="op">+</span><span class="st">&quot; est la couleur de forme choisie au hasard&quot;</span><span class="op">,</span></span>
<span id="cb19-7"><a href="#cb19-7" aria-hidden="true" tabindex="-1"></a>    <span class="dv">1</span><span class="op">,</span></span>
<span id="cb19-8"><a href="#cb19-8" aria-hidden="true" tabindex="-1"></a>    <span class="dv">0</span></span>
<span id="cb19-9"><a href="#cb19-9" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb19-10"><a href="#cb19-10" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> (</span>
<span id="cb19-11"><a href="#cb19-11" aria-hidden="true" tabindex="-1"></a>    text</span>
<span id="cb19-12"><a href="#cb19-12" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> text</span>
<span id="cb19-13"><a href="#cb19-13" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> <span class="op">!</span>di </span>
<span id="cb19-14"><a href="#cb19-14" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> tile</span>
<span id="cb19-15"><a href="#cb19-15" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> di</span>
<span id="cb19-16"><a href="#cb19-16" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb19-17"><a href="#cb19-17" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2
id="fragmentcontext.gfgvalue"><code>fragmentContext.gfg(value)</code></h2>
<p><code>get foreground</code></p>
<p>Retourne la couleur de forme correspondant à la valeur donnée.</p>
<div class="sourceCode" id="cb20"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb20-1"><a href="#cb20-1" aria-hidden="true" tabindex="-1"></a><span class="im">import</span> {base4} <span class="im">from</span> <span class="st">&quot;textor/assets/palettes.mjs&quot;</span></span>
<span id="cb20-2"><a href="#cb20-2" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> {random<span class="op">,</span>floor} <span class="op">=</span> <span class="bu">Math</span><span class="op">;</span></span>
<span id="cb20-3"><a href="#cb20-3" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> palette <span class="op">=</span> base4<span class="op">;</span></span>
<span id="cb20-4"><a href="#cb20-4" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> freeColor <span class="op">=</span> <span class="dv">1</span><span class="op">;</span></span>
<span id="cb20-5"><a href="#cb20-5" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> color <span class="op">=</span> <span class="fu">floor</span>(<span class="fu">random</span>()<span class="op">*</span>palette<span class="op">.</span><span class="at">length</span>)<span class="op">;</span></span>
<span id="cb20-6"><a href="#cb20-6" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb20-7"><a href="#cb20-7" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {write<span class="op">,</span>di<span class="op">,</span>d<span class="op">,</span>c<span class="op">,</span>cp<span class="op">,</span>fg<span class="op">,</span>gfg} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb20-8"><a href="#cb20-8" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> <span class="fu">write</span>(</span>
<span id="cb20-9"><a href="#cb20-9" aria-hidden="true" tabindex="-1"></a>    <span class="fu">gfg</span>(d[<span class="dv">0</span>])<span class="op">+</span><span class="st">&quot; est la couleur de forme choisie au hasard&quot;</span><span class="op">,</span></span>
<span id="cb20-10"><a href="#cb20-10" aria-hidden="true" tabindex="-1"></a>    <span class="dv">1</span><span class="op">,</span></span>
<span id="cb20-11"><a href="#cb20-11" aria-hidden="true" tabindex="-1"></a>    <span class="dv">0</span></span>
<span id="cb20-12"><a href="#cb20-12" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb20-13"><a href="#cb20-13" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> (</span>
<span id="cb20-14"><a href="#cb20-14" aria-hidden="true" tabindex="-1"></a>    text</span>
<span id="cb20-15"><a href="#cb20-15" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> text<span class="op">+</span><span class="fu">fg</span>(c<span class="op">-</span><span class="dv">1</span>)</span>
<span id="cb20-16"><a href="#cb20-16" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> <span class="op">!</span>di </span>
<span id="cb20-17"><a href="#cb20-17" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> <span class="fu">cp</span>(<span class="st">&#39;A&#39;</span>) <span class="op">+</span> <span class="fu">fg</span>(color)</span>
<span id="cb20-18"><a href="#cb20-18" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> di</span>
<span id="cb20-19"><a href="#cb20-19" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb20-20"><a href="#cb20-20" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h2
id="fragmentcontext.gbgvalue"><code>fragmentContext.gbg(value)</code></h2>
<p><code>get background</code></p>
<p>Retourne la couleur de fond correspondant à la valeur donnée.</p>
<div class="sourceCode" id="cb21"><pre
class="sourceCode mjs"><code class="sourceCode javascript"><span id="cb21-1"><a href="#cb21-1" aria-hidden="true" tabindex="-1"></a><span class="im">import</span> {base4} <span class="im">from</span> <span class="st">&quot;textor/assets/palettes.mjs&quot;</span></span>
<span id="cb21-2"><a href="#cb21-2" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> {random<span class="op">,</span>floor} <span class="op">=</span> <span class="bu">Math</span><span class="op">;</span></span>
<span id="cb21-3"><a href="#cb21-3" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> palette <span class="op">=</span> base4<span class="op">;</span></span>
<span id="cb21-4"><a href="#cb21-4" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">var</span> freeColor <span class="op">=</span> <span class="dv">1</span><span class="op">;</span></span>
<span id="cb21-5"><a href="#cb21-5" aria-hidden="true" tabindex="-1"></a><span class="kw">var</span> color <span class="op">=</span> <span class="fu">floor</span>(<span class="fu">random</span>()<span class="op">*</span>palette<span class="op">.</span><span class="at">length</span>)<span class="op">;</span></span>
<span id="cb21-6"><a href="#cb21-6" aria-hidden="true" tabindex="-1"></a><span class="im">export</span> <span class="kw">function</span> <span class="fu">fragment</span>(fragmentContext) {</span>
<span id="cb21-7"><a href="#cb21-7" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> {write<span class="op">,</span>di<span class="op">,</span>d<span class="op">,</span>c<span class="op">,</span>cp<span class="op">,</span>fg<span class="op">,</span>gfg} <span class="op">=</span> fragmentContext<span class="op">;</span></span>
<span id="cb21-8"><a href="#cb21-8" aria-hidden="true" tabindex="-1"></a>  <span class="kw">var</span> text <span class="op">=</span> <span class="fu">write</span>(</span>
<span id="cb21-9"><a href="#cb21-9" aria-hidden="true" tabindex="-1"></a>    <span class="fu">gbg</span>(d[<span class="dv">0</span>])<span class="op">+</span><span class="st">&quot; est la couleur de forme choisie au hasard&quot;</span><span class="op">,</span></span>
<span id="cb21-10"><a href="#cb21-10" aria-hidden="true" tabindex="-1"></a>    <span class="dv">1</span><span class="op">,</span></span>
<span id="cb21-11"><a href="#cb21-11" aria-hidden="true" tabindex="-1"></a>    <span class="dv">0</span></span>
<span id="cb21-12"><a href="#cb21-12" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb21-13"><a href="#cb21-13" aria-hidden="true" tabindex="-1"></a>  <span class="cf">return</span> (</span>
<span id="cb21-14"><a href="#cb21-14" aria-hidden="true" tabindex="-1"></a>    text</span>
<span id="cb21-15"><a href="#cb21-15" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> text<span class="op">+</span><span class="fu">bg</span>(c<span class="op">-</span><span class="dv">1</span>)</span>
<span id="cb21-16"><a href="#cb21-16" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> <span class="op">!</span>di </span>
<span id="cb21-17"><a href="#cb21-17" aria-hidden="true" tabindex="-1"></a>    <span class="op">?</span> <span class="fu">cp</span>(<span class="st">&#39;A&#39;</span>) <span class="op">+</span> <span class="fu">bg</span>(color)</span>
<span id="cb21-18"><a href="#cb21-18" aria-hidden="true" tabindex="-1"></a>    <span class="op">:</span> di</span>
<span id="cb21-19"><a href="#cb21-19" aria-hidden="true" tabindex="-1"></a>  )<span class="op">;</span></span>
<span id="cb21-20"><a href="#cb21-20" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<!--
  i;    // tile data index
  x;    // tile x coordinate
  y;    // tile y coordinate
  w;    // matrix width
  h;    // matrix height
  di;   // tile data at index
  d;    // tiles data
  t;    // tileSet length
  tw;   // tileSet tile width
  th;   // tileSet tile height
  c;    // palette length
  cp = (input) => codePoint(input); // codePoint shortcut function
  hex = (input) => codePoint(input); // codePoint shortcut function
  fg = (value) => this.foreground(value);  // fg shortcut function
  bg = (value) => this.background(value);  // bg shortcut function
  gfg = (value) => this.getForeground(value);  // fg shortcut function
  gbg = (value) => this.getBackground(value);  // bg shortcut function
  gt = (value) => this.getTile(value);  // bg shortcut function
  write = (str,x,y) => write(str,x,y); // write shortcut

```mjs
export function fragment(
  fragmentContext
) {
  var {write} = fragmentContext;
  var text = write("Sortie du fragment");
  return text ? text : 32;
}
```
-->
