================================================================================

<a href="mailto:contact@adelfaure.net">contact@adelfaure.net</a> send me an email :-)

Find me on                                                                     
            <a href="https://adelfaure.itch.io">Itch.io</a>
            <a href="https://www.gamejolt.com/@adelfaure">Gamejolt</a>
            <a href="https://www.gitlab.com/adelfaure">Gitlab</a>
            <a rel="me" href="https://mastodon.art/@adelfaure">Mastodon</a>
            <a href="https://www.instagram.com/adelfaure">Instagram</a>
            <a href="https://www.reddit.com/user/AdelFaure">Reddit</a> (not often connected)
            <a href="https://www.twitter.com/adelfaure">Twitter</a>
            Soundcloud <a href="https://soundcloud.com/faureadel">2021</a> <a href="https://soundcloud.com/mostunderratedartist">2016</a> <a href="https://soundcloud.com/adelfaure">2014</a>

Friends' sites
--------------
             
<a href="https://fungi.neocities.org" title="fungi.neocities.org" ><img alt="fungi.neocities.org site" src="https://www.adelfaure.net/src/fungi-site-badge.gif"></a> <a href="https://mistigris.org" title="mistigris.org" ><img alt="mistigris.org site" src="https://www.adelfaure.net/src/mist-badge.gif"></a> <a href="https://polyducks.co.uk" title="polyducks.co.uk"><img alt="polyducks.co.uk" src="https://www.adelfaure.net/src/polyducks-88x31.gif"></a> <a href="https://nuel.pw" title="nuel.pw" ><img alt="nuel.pw site" src="https://nuel.pw/button.gif"></a>

--------------------------------------------------------------------------------
<a href="https://webri.ng/webring/creative_retrocomputing/random"><span class="marquee">         This site is a member of the Creative Retrocomputing webring.          </a>
--------------------------------------------------------------------------------

Badge
-----

<a href="https://www.adelfaure.net" title="adelfaure.net"><img alt="adelfaure.net" src="https://www.adelfaure.net/src/adl-site-badge.gif"></a>

Feel free to use this badge on your website - you can link directly to the
<a href="https://www.adelfaure.net/src/adl-site-badge.gif">badge src url</a>

I don't store any of your data. 

You can check the source code of this website (or any other) by adding
`view-source:` at the beginning of the URL. Or by right-clicking blank part of
the web page and select "View page source" from the pop-up menu that appears.

Adel Faure Website Copyright (C) 2021-2023
This program comes with ABSOLUTELY NO WARRANTY; 
This is free software, and you are welcome to redistribute it

--------------------------------------------------------------------------------
<a href="https://ko-fi.com/adelfaure"><span class="marquee">//////////////////////////// Support me on Ko-fi  ♥ ////////////////////////////</span></a>
================================================================================
/\ <a href="#top">Top</a></span>
================================================================================
