Font                          Size                       Mode
<a id="jgs5">[<span> </span>] jgs5</a> <a id="jgs7">[<span> </span>] jgs7</a> <a id="jgs9">[<span> </span>] jgs9</a>    <a id="x1">[<span> </span>] * 1</a> <a id="x2">[<span> </span>] * 2</a> <a id="x3">[<span> </span>] * 3</a>    <a id="day">[<span> </span>] Day</a> <a id="night">[<span> </span>] Night</a>
--------------------------------------------------------------------------------
<a href="https://ko-fi.com/adelfaure"><span class="marquee">//////////////////////////// Support me on Ko-fi  ♥ ////////////////////////////</span></a>
