/* stylesheet */
@font-face{
  font-family: "8x8";
  src: url("8x8.ttf");
}
.fade_log{
  position:absolute;
  opacity: 0.25;
  mix-blend-mode: luminosity;
}/*
#shadow_log{
  text-shadow: 2px 2px 4px;
  opacity: 0.4;
  z-index:999;
  mix-blend-mode: luminosity;
}*/
* {
  font-family: "8x8";
  margin:0;
  padding:0;
  transition: color 0.5s, background-color 0.5s;
}/*
#pixel_overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index:999;
}*/
pre {
  display: inline-block;
}
